#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}
#hello{
    background-color: aquamarine;    
}
#hello img {
    height: 300px;
 margin-top: 35px;
}
